body{
    max-width: 60rem;
    margin: auto;
    background: linear-gradient(to right, rgb(255, 255, 255), rgb(224, 241, 248));
}

h1{
    text-align: center;
    margin-top: 5rem;
    font-size: 3.5rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
}

h2{
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.buttons{
    justify-content: center;
    display: flex;
    flex-wrap:wrap;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(10px);
  }
}

.buttons button{
    background: linear-gradient(to right, rgb(104, 142, 225), rgb(110, 226, 234));
    border: none;
    margin: 10px;
    width: 9rem;
    padding: 12px;
    font-family: "Afacad Flux", sans-serif;
    font-weight: 600;
    color: white;
    font-size: 25px;
    border-radius: 10px;
    box-shadow: 8px 10px 10px rgba(0, 0, 0, 0.1);
}

.images img { 
    display: none; 
    width: 35rem;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 80px;
    border-radius: 20px;
    animation: float 1s ease-in-out infinite alternate;
}

button:nth-of-type(1):hover,
button:nth-of-type(2):hover,
button:nth-of-type(3):hover,
button:nth-of-type(4):hover,
button:nth-of-type(5):hover,
button:nth-of-type(6):hover,
button:nth-of-type(7):hover,
button:nth-of-type(8):hover,
button:nth-of-type(9):hover,
button:nth-of-type(10):hover {
    background: linear-gradient(to right, rgb(89, 100, 171), rgb(74, 156, 185));
    transform: scale(1.05);
    transition: 0.5s ease;
}

button:nth-of-type(1):focus,
button:nth-of-type(2):focus,
button:nth-of-type(3):focus,
button:nth-of-type(4):focus,
button:nth-of-type(5):focus,
button:nth-of-type(6):focus,
button:nth-of-type(7):focus,
button:nth-of-type(8):focus,
button:nth-of-type(9):focus,
button:nth-of-type(10):focus {
    background: linear-gradient(to right, rgb(50, 58, 105), rgb(27, 84, 104));
    transform: scale(1.05);
    transition: 0.5s ease;
}

button:nth-of-type(1):focus ~ .images img:nth-of-type(1),
button:nth-of-type(2):focus ~ .images img:nth-of-type(2),
button:nth-of-type(3):focus ~ .images img:nth-of-type(3),
button:nth-of-type(4):focus ~ .images img:nth-of-type(4),
button:nth-of-type(5):focus ~ .images img:nth-of-type(5),
button:nth-of-type(6):focus ~ .images img:nth-of-type(6),
button:nth-of-type(7):focus ~ .images img:nth-of-type(7),
button:nth-of-type(8):focus ~ .images img:nth-of-type(8),
button:nth-of-type(9):focus ~ .images img:nth-of-type(9),
button:nth-of-type(10):focus ~ .images img:nth-of-type(10) {
    display: block;
}